<h1>All Products</h1>

<ul>
  <% if @products.present? %>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.title, product_path(product) %>
        (Category: <%= product.Category.name %>)
      </li>
    <% end %>
  <% else %>
    <li>No products available.</li>
  <% end %>
</ul>
